<h1>Edit the row data:</h1>

{{#each results}}
<form method="post" onsubmit="updateRow();">
  <input id="id" type="hidden" name="id" value="{{this.id}}" />
  <label>Name:
    <input id="name" type="text" name="name" value="{{this.name}}" />
  </label>
  <label>Reps:
    <input id="reps" type="text" name="reps" value="{{this.reps}}" />
  </label>
  <label>Weight:
    <input id="weight" type="text" name="weight" value="{{this.weight}}" />
  </label>
  <label>Date:
    <input id="date" type="text" name="date" value="{{this.date}}" />
  </label>
  <label>Lbs = 1; Kgs = 0:
    <input id="lbs" type="text" name="lbs" value="{{this.lbs}}" />
  </label>
  <br />
  <input type="submit" name="update" value="Update">
</form>
{{/each}}

<script src="script-edit-page.js"></script>
